$mainFontFamily: "Poppins", sans-serif;
$headingFontFamily: "Balsamiq Sans", cursive;

$primary: #0f6dae;
$primary-dark: #0c4d7a;
$light: white;
$off-light: #fafafa;
$dark: black;
$body-dark: #6b6b84;
$light-grey: #eee;
$white-smoke: whitesmoke;

$trans-250: 0.25s all ease;
