@import "./varibles.scss";

header,
footer {
  height: 4rem;
  background-color: $primary-dark;
  color: $light;
  display: flex;
  align-items: center;
}

header {
  flex: 0 1 auto;
  h1 {
    margin: 0px;
    font-size: 1.8rem;
    display: inline-block;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;

    text-transform: capitalize;
    margin: auto 0.5rem;
  }
}

footer {
  p {
    text-align: center;
  }
}
