@import "../../abstracts/varibles.scss";

.postDetailsCard {
  margin-top: 5rem;
  border: 0.1rem solid #c5c5c5;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: all ease-in-out 0.2s;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .title {
    color: $primary-dark;
  }

  .body {
    color: $body-dark;
  }

  .buttonSection {
    display: flex;
    font-size: 1.5rem;
    color: $primary-dark;
    * {
      margin-right: 0.5rem;
      transition: all ease-in-out 0.2s;
      cursor: pointer;
      &:hover {
        color: $body-dark;
      }
    }
  }
}
