@import "../../abstracts/varibles.scss";

.postCard {
  border: 0.1rem solid #c5c5c5;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all ease-in-out 0.2s;

  .title {
    color: $primary-dark;
  }

  .body {
    color: $body-dark;
  }

  &:hover {
    background-color: $white-smoke;
  }
}
